In [ ]:
#ref: https://medium.com/@wilamelima/a-hands-on-intro-to-deep-learning-690d1354bfc4
#ref: https://becominghuman.ai/a-hands-on-intro-to-anns-and-deep-learning-part-2-d776d6a93d21

In [3]:
path = "data/titanic.csv"

In [4]:
import pandas as pd
#from numpy import where
import numpy as np
import keras
from keras.models import Sequential
from keras.layers import Dense

In [5]:
data = pd.read_csv(path, index_col=0)
data.head()

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest,has_cabin_number
1,1.0,1.0,"Allen, Miss. Elisabeth Walton",female,29.0000,0.0,0.0,24160,211.3375,B5,S,2,NaN,"St Louis, MO",1
2,1.0,1.0,"Allison, Master. Hudson Trevor",male,0.9167,1.0,2.0,113781,151.5500,C22 C26,S,11,NaN,"Montreal, PQ / Chesterville, ON",1
3,1.0,0.0,"Allison, Miss. Helen Loraine",female,2.0000,1.0,2.0,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON",1
4,1.0,0.0,"Allison, Mr. Hudson Joshua Creighton",male,30.0000,1.0,2.0,113781,151.5500,C22 C26,S,NaN,135.0,"Montreal, PQ / Chesterville, ON",1
5,1.0,0.0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.0000,1.0,2.0,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON",1

In [6]:

# Handle with missing dat # Handle 

def isKid(data):

    #Check if it's alone
    isAlone = []

    for i, row in data.iterrows():
        if row['sibsp'] == 0 and row['parch'] == 0:
            isAlone.append(1)
        else:
            isAlone.append(0)
        
    data['isAlone'] = isAlone

    # Check if it's adult, kid or senior
    age_cat = [] 
    
    for i, row in data.iterrows():        
        if np.isnan(row['age']) == True and row['isalone'] == 1:
            age_cat.append(2)    
        elif np.isnan(row['age']) == True and row['isalone'] == 0:
            if row['sibsp'] >= 0:
                age_cat.append(2)
        elif row['age'] <= 14:
            age_cat.append(1)
        elif row['age'] >= 60:
            age_cat.append(3)
        elif row['age'] >= 15 and row['age'] <= 59:
            age_cat.append(2)
        else:
            age_cat.append(None)
            
    data['Age Category'] = age_cat

    # Fill age column with the median for each category
    kids_median = data['age'].where(data['Age Category'] == 1).median()
    adults_median = data['age'].where(data['Age Category'] == 2).median()
    seniors_median = data['age'].where(data['Age Category'] == 3).median()
    global_median = data['age'].median()
    ages = []
    
    for i, row in data.iterrows():
        if np.isnan(row['age']) != True:
            ages.append(row['age'])
        elif np.isnan(row['age']) == True and row['Age Category'] == 1:
            ages.append(kids_median)
        elif np.isnan(row['age']) == True and row['Age Category'] == 2:
            ages.append(adults_median)
        elif np.isnan(row['age']) == True and row['Age Category'] == 3:
            ages.append(seniors_median)
        else:
            ages.append(global_median)
    
    data['age'] = ages
    
    # Deal with empty Age Category 
    age_cat = []
    
    for i, row in data.iterrows():
        if np.isnan(row['Age Category']) == True:
            age_cat.append(data['Age Category'].mode()[0])
        else:
            age_cat.append(row['Age Category'])
            
    data['Age Category'] = age_cat
    
    return data

data = isKid(data)

mode  =  data.embarked.mode()
data.embarked = data.embarked.fillna(value=mode[0])

print(data.isna().sum())

pclass                 1
survived               1
name                   1
sex                    1
age                    0
sibsp                  1
parch                  1
ticket                 1
fare                   2
cabin               1015
embarked               0
boat                 824
body                1189
home.dest            565
has_cabin_number       0
isAlone                0
Age Category           0
dtype: int64

In [7]:
# Handle categorical data

def dummify_dataset(data):
    data = pd.concat([data, pd.get_dummies(data.sex, prefix='Sex')],axis=1)
    data = pd.concat([data, pd.get_dummies(data.embarked, prefix='Embarked')],axis=1)
    data = pd.concat([data, pd.get_dummies(data.pclass, prefix='Pclass')],axis=1)
    data = pd.concat([data, pd.get_dummies(data.isAlone, prefix='isAlone')],axis=1)
    data = pd.concat([data, pd.get_dummies(data['Age Category'], prefix='AgeCat')],axis=1)
    
    
    data = data.drop(['name', 'boat','ticket' ,'body','cabin','home.dest' ,'sex','embarked', 'pclass', 'isAlone', 'Age Category', 'Sex_female', 'Embarked_C', 'Pclass_1.0', 'isAlone_0', 'AgeCat_1.0'], axis=1)
    
    data = data.rename(index=str, columns = {'Sex_male':'Sex'})
    
    print(data.columns)
    return data

In [8]:
data = dummify_dataset(data)
data.head(1)

Index(['survived', 'age', 'sibsp', 'parch', 'fare', 'has_cabin_number', 'Sex',
       'Embarked_Q', 'Embarked_S', 'Pclass_2.0', 'Pclass_3.0', 'isAlone_1',
       'AgeCat_2.0', 'AgeCat_3.0'],
      dtype='object')

,survived,age,sibsp,parch,fare,has_cabin_number,Sex,Embarked_Q,Embarked_S,Pclass_2.0,Pclass_3.0,isAlone_1,AgeCat_2.0,AgeCat_3.0
1,1.0,29.0,0.0,0.0,211.3375,1,0,0,1,0,0,1,1,0

In [9]:
np.isnan(data).sum()

survived            1
age                 0
sibsp               1
parch               1
fare                2
has_cabin_number    0
Sex                 0
Embarked_Q          0
Embarked_S          0
Pclass_2.0          0
Pclass_3.0          0
isAlone_1           0
AgeCat_2.0          0
AgeCat_3.0          0
dtype: int64

In [10]:
data.head()

,survived,age,sibsp,parch,fare,has_cabin_number,Sex,Embarked_Q,Embarked_S,Pclass_2.0,Pclass_3.0,isAlone_1,AgeCat_2.0,AgeCat_3.0
1,1.0,29.0000,0.0,0.0,211.3375,1,0,0,1,0,0,1,1,0
2,1.0,0.9167,1.0,2.0,151.5500,1,1,0,1,0,0,0,0,0
3,0.0,2.0000,1.0,2.0,151.5500,1,0,0,1,0,0,0,0,0
4,0.0,30.0000,1.0,2.0,151.5500,1,1,0,1,0,0,0,1,0
5,0.0,25.0000,1.0,2.0,151.5500,1,0,0,1,0,0,0,1,0

In [11]:
data.loc[np.isnan(data['survived'])]

,survived,age,sibsp,parch,fare,has_cabin_number,Sex,Embarked_Q,Embarked_S,Pclass_2.0,Pclass_3.0,isAlone_1,AgeCat_2.0,AgeCat_3.0
1310,NaN,29.881135,NaN,NaN,NaN,0,0,0,1,0,0,0,1,0

In [12]:
data.drop(data[np.isnan(data['survived'])].index, axis = 0, inplace=True)
data.drop(data[np.isnan(data['fare'])].index, axis = 0, inplace=True)

In [ ]:
# Let's scale the data

y = data.survived
X = data.drop('survived', axis = 1)

# Divide into training and test
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y,
                                                   test_size = 0.2,
                                                   random_state=0)

# Apply the Scaler
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [115]:
classifier = Sequential()

In [116]:
# Input layer
classifier.add(Dense(units=7, 
                     kernel_initializer = 'he_normal', 
                     activation = 'relu', 
                     input_dim = 13))

# Hidden layer
classifier.add(Dense(units=7,
                     kernel_initializer='he_normal',
                     activation='relu'))

# Output
classifier.add(Dense(units=1,
                     kernel_initializer='he_normal',
                     activation='sigmoid'))

In [117]:
# Compile

classifier.compile(optimizer = 'adam', 
                   loss = 'binary_crossentropy', 
                   metrics = ['accuracy'])

In [ ]:
classifier.fit(X_train, y_train,
               batch_size = 10,
               epochs = 100)

Epoch 1/100

In [1]:
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report

y_pred = classifier.predict(X_test)

# Transform into binary for the confucion matrix (0 or 1)
y_pred = (y_pred > 0.5)

# Analysis
print('Accuracy score:', accuracy_score(y_test, y_pred))
print("-"*80)
print('Confusion matrix\n')
conmat = np.array(confusion_matrix(y_test, y_pred, labels=[1,0]))
confusion = pd.DataFrame(conmat, index=['Actual survived', 'Actual died'],
                         columns=['Predicted survived','Predicted died'])
print(confusion)
print("-"*80)
print('Classification report')
print(classification_report(y_test, y_pred, target_names=['1','0']))

NameError: name 'classifier' is not defined

Think about it: we didn’t have to do any feature selection and we almost didn’t tweak our model. We didn’t do any cross validation, we didn’t play with the number of hidden layers…

So, there’s a lot of room for improvement here. We can do much more to obtain better results, but doing almost nothing was already enough to make us almost beat the old model. So, do you understand the potential of ANNs?

On the part 2, write how we can improve the ANN performance. Check it here:

## Part 2

In [ ]:
from keras.wrappers.scikit_learn import KerasClassifier
from sklearn.model_selection import cross_val_score
from keras.models import Sequential
from keras.layers import Dense

def build_classifier():
    classifier = Sequential()
    classifier.add(Dense(units = 7, kernel_initializer = 'he_normal', activation = 'relu', input_dim = 13))
    classifier.add(Dense(units = 7, kernel_initializer = 'he_normal', activation = 'relu'))
    classifier.add(Dense(units = 1, kernel_initializer = 'he_normal', activation = 'sigmoid'))
    classifier.compile(optimizer = 'adam', loss = 'binary_crossentropy', metrics = ['accuracy'])
    return classifier

classifier = KerasClassifier(build_fn = build_classifier, batch_size = 10, epochs = 100)

accuracies = cross_val_score(estimator = classifier, 
                             X = X_train, 
                             y = y_train, 
                             cv = 10)

After the training, we check the average accuracy of the model and the average variance. We are trying to create a model with high accuracy and low variance, all of this avoiding overfitting.

In [ ]:
print(accuracies.mean())
print(accuracies.std())

In [ ]:
classifier.fit(X_train, y_train)

y_pred = classifier.predict(X_test)
y_pred = (y_pred > 0.5)

In [ ]:
# Analysis
print('Accuracy score:', accuracy_score(y_test, y_pred))
print("-"*80)
print('Confusion matrix\n')
conmat = np.array(confusion_matrix(y_test, y_pred, labels=[1,0]))
confusion = pd.DataFrame(conmat, index=['Actual survived', 'Actual died'],
                         columns=['Predicted survived','Predicted died'])
print(confusion)
print("-"*80)
print('Classification report')
print(classification_report(y_test, y_pred, target_names=['1','0']))

Notice a few things: the average accuracy of the model is 81%, while the variance is relatively low (3%). After fitting the model, we can do some predictions. We have a surprise now: after applying cross validation, we had a much better accuracy of 83%

## Dropout regularization

A way to reduce overfit risk is using dropout regularisation. It works by ‘disabling’ a few hidden and visible neurones during the training phase. In order to do it, we’ll rewrite our build_classifier() function adding the dropout instructions.

We have to give an argument to the dropout function, which’s called rate. The rate is the probability of dropout for the neurones of a layer. We’ll use 10% as value here. But we’ll do more than just adding dropout. We also want to tweak our model a little bit.

More neurones
Let’s also add more neurones to our network. For the input layer, let’s use 1 neurone for each feature and an extra for a bias term (13 neurones in total). For the hidden layer, let’s use the average rule: the number of neurones is the average of the input layer and the output layer (7 neurones).

Hyperparameters configuration
We want to test different parameters to check which one work the most for our model. We do it by usingGridSearchCV. This method looks for the best combination of hyperparameters given a dictionary of values.

In [ ]:
rom keras.wrappers.scikit_learn import KerasClassifier
from sklearn.model_selection import GridSearchCV
from keras.layers import Dropout

# Build classifier
def build_classifier(optimizer):
    classifier = Sequential()

    classifier.add(Dense(units = 13, kernel_initializer = 'he_normal', activation = 'relu', input_dim = 12))
    classifier.add(Dropout(rate=0.1))
    classifier.add(Dense(units = 7, kernel_initializer = 'he_normal', activation = 'relu'))
    classifier.add(Dropout(rate=0.1))
    classifier.add(Dense(units = 1, kernel_initializer = 'he_normal', activation = 'sigmoid'))
    
    classifier.compile(optimizer = optimizer, loss = 'binary_crossentropy', metrics = ['accuracy'])
    
    return classifier

classifier = KerasClassifier(build_fn = build_classifier)

# Define params to test
parameters = {'batch_size': [5, 20, 32],
              'epochs': [50, 200, 500, 1000],
              'optimizer': ['adam', 'rmsprop', 'adamax']}

grid_search = GridSearchCV(estimator = classifier,
                           param_grid = parameters,
                           scoring = 'accuracy',
                           cv = 10)

# Give the data to test
grid_search = grid_search.fit(X_train, 
                              y_train,
                              class_weight={1:10,0:5})

In [ ]:
# Check the best parameters and score
best_parameters = grid_search.best_params_
best_accuracy = grid_search.best_score_

In [ ]:
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report

y_pred = grid_search.predict(X_test)

print('\nAccuracy score:', accuracy_score(y_test, y_pred))
print("-"*80)
print('Confusion matrix\n')
conmat = np.array(confusion_matrix(y_test, y_pred, labels=[1,0]))
confusion = pd.DataFrame(conmat, index=['Actual survived', 'Actual died'],
                         columns=['Predicted survived','Predicted died'])
print(confusion)
print("-"*80)
print('Classification report')
print(classification_report(y_test, y_pred, target_names=['1','0']))

As you can see, we had an accuracy of 84% this time.

There are plenty of possibilities here, as you may guess: changing the number of neurones, tuning the algorithm, adding layers, preprocessing even more the input data… There are actually no limits if you want to have even better results.

https://medium.com/@wilamelima/why-you-should-not-trust-only-in-accuracy-to-measure-machine-learning-performance-a72cf00b4516