# multivariate 
# univariate

In [57]:
from statsmodels.tsa.vector_ar.var_model import VAR
from statsmodels.tsa.statespace.sarimax import SARIMAX

import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [15]:
df = pd.read_csv("data/daily_funnel_kpis.csv")

In [16]:
df.head()

,Date,Cart Additions,Checkout Visit (e43) (event43),Start Checkout (e71) (event71),Orders,Revenue,Unique Visitors,Visits
0,"January 1, 2018",221,0,0,2588,24174.85,26065,32293
1,"January 2, 2018",9550,3637,5867,6082,502260.02,124011,144365
2,"January 3, 2018",11611,4680,7364,6475,624929.47,150293,176357
3,"January 4, 2018",13124,5243,9134,7830,514532.75,152939,183323
4,"January 5, 2018",11098,4263,7022,5019,574056.18,128820,151070

In [21]:
df['Date']=pd.to_datetime(df['Date'], dayfirst=True)

In [22]:
df.head()

,Date,Cart Additions,Checkout Visit (e43) (event43),Start Checkout (e71) (event71),Orders,Revenue,Unique Visitors,Visits
0,2018-01-01,221,0,0,2588,24174.85,26065,32293
1,2018-01-02,9550,3637,5867,6082,502260.02,124011,144365
2,2018-01-03,11611,4680,7364,6475,624929.47,150293,176357
3,2018-01-04,13124,5243,9134,7830,514532.75,152939,183323
4,2018-01-05,11098,4263,7022,5019,574056.18,128820,151070

In [34]:
df.index = df.Date
df.drop('Date', axis=1, inplace=True)

In [35]:
df.head()

,Cart Additions,Checkout Visit (e43) (event43),Start Checkout (e71) (event71),Orders,Revenue,Unique Visitors,Visits
Date,,,,,,,
2018-01-01,221,0,0,2588,24174.85,26065,32293
2018-01-02,9550,3637,5867,6082,502260.02,124011,144365
2018-01-03,11611,4680,7364,6475,624929.47,150293,176357
2018-01-04,13124,5243,9134,7830,514532.75,152939,183323
2018-01-05,11098,4263,7022,5019,574056.18,128820,151070

## multivariate

In [36]:
from statsmodels.tsa.vector_ar.vecm import coint_johansen
#since the test works for only 12 variables, I have randomly dropped
#in the next iteration, I would drop another and check the eigenvalues
johan_test_temp = df.drop(['Revenue'], axis=1)
johan_test_temp.head()
coint_johansen(johan_test_temp,-1,1).eig

array([0.23809549, 0.17665887, 0.10645891, 0.07420832, 0.0340283 ,
       0.00429375])

In [38]:
#creating the train and validation set
train = df[:int(0.8*(len(df)))]
valid = df[int(0.8*(len(df))):]

#fit the model
from statsmodels.tsa.vector_ar.var_model import VAR

model = VAR(endog=train)
model_fit = model.fit()

# make prediction on validation
prediction = model_fit.forecast(model_fit.y, steps=len(valid))

/Users/sulbha/anaconda3/lib/python3.7/site-packages/statsmodels/tsa/base/tsa_model.py:165: ValueWarning: No frequency information was provided, so inferred frequency D will be used.
  % freq, ValueWarning)

In [65]:
len(valid)

74

In [44]:
cols =df.columns

In [53]:
#converting predictions to dataframe
import numpy as np
import sklearn.metrics as m


pred = pd.DataFrame(index=range(0,len(prediction)),columns=[cols])


for j in range(0,7):
    for i in range(0, len(prediction)):
       pred.iloc[i][j] = prediction[i][j]

#check rmse
for i in cols:
    print('rmse value for', i, 'is : ', np.sqrt(m.mean_squared_error(pred[i], valid[i])))

rmse value for Cart Additions is :  14873.963930091124
rmse value for Checkout Visit (e43) (event43) is :  3275.7395429676662
rmse value for Start Checkout (e71) (event71) is :  8137.485500458355
rmse value for Orders is :  3206.2565458994563
rmse value for Revenue is :  2098223.0589394136
rmse value for Unique Visitors is :  29783.112332258024
rmse value for Visits is :  39971.940830916814

In [63]:
pred

,Cart Additions,Checkout Visit (e43) (event43),Start Checkout (e71) (event71),Orders,Revenue,Unique Visitors,Visits
0,16410.6,4381.64,7629.34,4736.88,586316,120548,146081
1,15992.4,4435.02,7707.84,4844.95,588107,123288,150412
2,15675.1,4480.21,7735.48,4960.81,588570,124883,152834
3,15421.9,4514.79,7754.65,5065.76,588429,125883,154237
4,15213,4541.01,7772.35,5155,588502,126580,155108
5,15036.7,4561.24,7788.82,5228.62,589017,127122,155700
6,14885.5,4577.24,7803.54,5288.29,589901,127583,156145
7,14754.2,4590.19,7816.27,5336.12,591004,127997,156508
8,14639.1,4600.87,7827.01,5374.12,592195,128378,156823
9,14537.5,4609.83,7835.94,5404.11,593382,128734,157104
10,14447.2,4617.45,7843.29,5427.63,594513,129066,157360
11,14366.7,4623.98,7849.28,5445.95,595562,129376,157594
12,14294.4,4629.63,7854.16,5460.14,596518,129663,157809
13,14229.5,4634.55,7858.11,5471.06,597383,129929,158006
14,14171,4638.86,7861.31,5479.39,598161,130174,158186
15,14118.1,4642.65,7863.89,5485.69,598860,130399,158351
16,14070.3,4646.01,7865.99,5490.41,599487,130606,158501
17,14027.1,4648.98,7867.68,5493.89,600051,130795,158637
18,13987.8,4651.62,7869.06,5496.41,600559,130968,158762
19,13952.3,4653.98,7870.18,5498.19,601016,131126,158875
20,13920,4656.09,7871.09,5499.41,601428,131270,158978
21,13890.6,4657.97,7871.84,5500.2,601800,131402,159071
22,13864,4659.67,7872.46,5500.66,602136,131522,159156
23,13839.8,4661.2,7872.96,5500.89,602440,131631,159233
24,13817.7,4662.57,7873.38,5500.93,602716,131731,159304
25,13797.7,4663.81,7873.73,5500.85,602966,131822,159368
26,13779.5,4664.94,7874.03,5500.67,603193,131904,159426
27,13762.9,4665.95,7874.27,5500.43,603398,131980,159479
28,13747.8,4666.87,7874.48,5500.16,603585,132048,159527
29,13734.1,4667.7,7874.66,5499.85,603755,132111,159570
...,...,...,...,...,...,...,...
44,13628.8,4673.97,7875.69,5496.28,605049,132592,159905
45,13625.7,4674.16,7875.71,5496.15,605086,132606,159915
46,13623,4674.32,7875.73,5496.03,605121,132619,159924
47,13620.4,4674.47,7875.75,5495.92,605152,132631,159932
48,13618.1,4674.6,7875.77,5495.82,605180,132641,159939
49,13616,4674.73,7875.79,5495.73,605206,132651,159946
50,13614.1,4674.84,7875.8,5495.64,605229,132660,159952
51,13612.3,4674.94,7875.81,5495.57,605250,132668,159958
52,13610.7,4675.04,7875.82,5495.5,605270,132675,159963
53,13609.3,4675.12,7875.83,5495.43,605288,132682,159967
54,13608,4675.2,7875.84,5495.38,605304,132688,159972
55,13606.8,4675.27,7875.85,5495.32,605318,132693,159975
56,13605.7,4675.34,7875.86,5495.27,605332,132698,159979
57,13604.7,4675.39,7875.87,5495.23,605344,132703,159982
58,13603.8,4675.45,7875.87,5495.19,605355,132707,159985
59,13603,4675.5,7875.88,5495.15,605365,132711,159988
60,13602.2,4675.54,7875.88,5495.12,605374,132714,159990
61,13601.5,4675.58,7875.89,5495.09,605383,132717,159992
62,13600.9,4675.62,7875.89,5495.06,605390,132720,159994
63,13600.3,4675.65,7875.9,5495.04,605397,132723,159996
64,13599.8,4675.68,7875.9,5495.01,605404,132725,159998
65,13599.3,4675.71,7875.9,5494.99,605409,132727,159999
66,13598.9,4675.73,7875.91,5494.97,605415,132729,160000
67,13598.5,4675.76,7875.91,5494.96,605419,132731,160002
68,13598.2,4675.78,7875.91,5494.94,605424,132733,160003
69,13597.8,4675.8,7875.92,5494.93,605428,132734,160004
70,13597.5,4675.81,7875.92,5494.91,605431,132735,160005
71,13597.3,4675.83,7875.92,5494.9,605435,132737,160006
72,13597,4675.84,7875.92,5494.89,605438,132738,160006
73,13596.8,4675.86,7875.92,5494.88,605440,132739,160007

In [56]:
#make final predictions
model = VAR(endog=df)
model_fit = model.fit()
yhat = model_fit.forecast(model_fit.y, steps=12)
print(yhat)

[[ 13765.66089216   4530.7940116    6449.63589025   6055.55311993
  496829.11478513 121255.55128971 144292.29377745]
 [ 14341.30627803   4664.92897712   6945.91832045   5949.53505576
  583426.54409341 125838.40650615 150400.22443366]
 [ 14722.86231818   4756.84481643   7297.23350446   5871.32365849
  633696.00192772 128729.0086169  154268.45718093]
 [ 14971.29396911   4815.8600601    7548.7958142    5812.48339912
  665772.18245161 130524.9834218  156687.7739216 ]
 [ 15133.9893973    4853.88360827   7730.93350675   5768.78193127
  687070.26655765 131649.66627796 158217.14626536]
 [ 15241.26037604   4878.81858047   7863.89659477   5736.81667352
  701471.27699512 132363.54339792 159200.04886824]
 [ 15312.04785986   4895.44109295   7961.49896786   5713.74037662
  711288.9392947  132822.87524507 159842.42819069]
 [ 15358.3915354    4906.64039654   8033.38963688   5697.2702491
  717994.0787747  133121.91164779 160268.60440664]
 [ 15388.14501924   4914.21341641   8086.4411636    5685.64255871
  722556.51390827 133318.36355512 160554.89186764]
 [ 15406.55747766   4919.31567686   8125.61959076   5677.52767331
  725631.51518103 133448.20456412 160749.07607734]
 [ 15417.20604996   4922.71342157   8154.54951918   5671.93899466
  727669.62306075 133534.2644537  160881.68990834]
 [ 15422.56232545   4924.92749457   8175.89431765   5668.15221056
  728984.48367137 133591.27632104 160972.62087681]]

/Users/sulbha/anaconda3/lib/python3.7/site-packages/statsmodels/tsa/base/tsa_model.py:165: ValueWarning: No frequency information was provided, so inferred frequency D will be used.
  % freq, ValueWarning)

# univariate - SARIMA

In [62]:
from statsmodels.tsa.statespace.sarimax import SARIMAX


model = SARIMAX(train['Cart Additions'], order = (1,1,1), seasonal_order=(1,1,1,1))

model_fit = model.fit(disp=False)

y_hat = model_fit.predict(len(valid), len(valid))
print (y_hat)

/Users/sulbha/anaconda3/lib/python3.7/site-packages/statsmodels/tsa/base/tsa_model.py:165: ValueWarning: No frequency information was provided, so inferred frequency D will be used.
  % freq, ValueWarning)

2018-03-16    16095.407891
Freq: D, dtype: float64

In [66]:
diff = (16410.6-16095.407891)/16095.407891
diff

0.019582735096526655